<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conflitos</title>
  </head>
  <body>
    <h1>Conflitos:</h1>
    <table border="2">
      {% for i in time %}
      <tr>
        <td>{{ i.codigo }}</td>
        aaa
        <td>{{ i.partida }}</td>
        <td>{{ i.time }}</td>
        <td>{{ i.descricao }}</td>
        <td>{{ i.errotecnico }}</td>
        <td>
          <a href="{% url 'url_updateConflito' i.codigo %}"> ATUALIZAR </a>
        </td>
        <td>
          <a href="{%url 'url_deleteConflito' i.codigo %}"> DELETAR </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
