{% extends 'SAAB/layout.html' %}
{% block conteudo %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAAB | Detlhamento de partida</title>
</head>
<body>
  
  <h1 class="mt-4">Detalhamento da partidas</h1>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Partidas</li>
    <li class="breadcrumb-item active">Detalhamento de Partida</li>
</ol>


    {% for i in detalhes %} 
    <table class="table table-bordered">
      <tr>
        <th>Da casa:</th><td>{{ i.local }}</td>
      </tr>
      <tr>
        <th>Visitante:</th><td>{{ i.visitante }}</td>
      </tr>

      <tr>
        <th>Data:</th><td>{{ i.data }}</td>
      </tr>

      <tr>
        <th>Árbitro selecionado:</th><td>{{ i.arbitro }}</td>
      </tr>
    </table>
    {% endfor %}

  <br>
  <h2>Conflitos da partida</h2>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Partidas</li>
    <li class="breadcrumb-item active">Conflitos da partida</li>
</ol>

  {% for i in conflitos %}
    <table class="table table-bordered">
      <tr>
        <th>Descrição:</th>
        <td>
        <p>{{ i.descricao }}</p>
      </td>
   </tr>

      <tr>
        <th>Falha técnica:</th>
        <td>
        <p>{{ i.errotecnico }}</p>
      </td>
    </tr>
    </table>
          
    {% endfor %}
</main>

</body>
</html>
{% endblock %}